.app__sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 85vh;
    background-color: var(--black-secondary);
    color: var(--text-color);
    transition: transform 0.2s ease-in;
}
.app__sidebar li{
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
}
.app__sidebar li span{
    margin-left: 1rem;
    letter-spacing: 0.4px;
}
.app__sidebar li:hover{
    background-color: var(--border-color);
}

.app__sidebar.open{
    transform: translateX(0);
}

@media (max-width: 1224px) {
    .app__sidebar{
        width: 90px;
    }
    .app__sidebar li{
        justify-content: center;
    }
    .app__sidebar li span{
        display: none;
    }
}

@media (max-width: 520px){
    .app__sidebar{
        transform: translateX(-100%);
        position: fixed;
        z-index: 999;
    }
}