@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto:ital@1&display=swap');

:root{
    --text-color:#b1bdb4;
    --black-primary:#16181b;
    --black-secondary: #121417;
    --border-color: #4c4c4c;

    --break-point-medium: 1224px;
    --break-point-small: 520px;
}

